body {
  background-image: linear-gradient(45deg, rgb(0, 255, 229), rgb(13, 127, 150), rgb(93, 18, 163));
  height: 100vh;
}
h1 {
  font-weight: bold;
  color: rgb(165, 42, 155);
  text-align: center;
  text-shadow: 3px 3px 8px lightblue;
}
.btn1,
.btn2 {
  margin-left: 280px;
  padding: 10px;
  text-align: center;
  background-color: blue;
  color: azure;
  border-radius: 10px;
  cursor: pointer;
}
.btn1:hover {
  background-color: navy;
}
.btn2:hover {
  background-color: navy;
}
.fc {
  height: 200px;
  width: 350px;
  background-color: orange;
  color: black;
  border: 2px solid black;
  padding: 8px;
  border-radius: 10px;
  margin-top: 150px;
  margin-left: 155px;
}
.fc h1 {
  font-weight: bold;
  text-align: center;
}
.fc h4 {
  text-align: center;
}
.fc h5 {
  text-align: center;
  color: blue;
}
.cc {
  height: 200px;
  width: 350px;
  background-color: lightsalmon;
  color: black;
  border: 2px solid black;
  padding: 8px;
  border-radius: 10px;
  margin-top: -225px;
  margin-left: 750px;
}
.cc h1 {
  font-weight: bold;
  text-align: center;
}
.cc h4 {
  text-align: center;
}
.cc h5 {
  text-align: center;
  color: blue;
}
